body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    color: #007bff;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    padding-top: 10px;  /* Adjust padding to align with the radio button */
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #dc3545;
    text-align: center;
}
